* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Lato', sans-serif;
  height: 1110px;
}

header {
  justify-content: space-between;
  margin: 5px;
  height: 100%;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

#padre {
  border: 1px solid black;
  margin: 0px;
  height: 5%;
}

#header_nav_menu {
  display: flex;
  width: 25%;
  justify-content: flex-start;
  align-items: center;
}

#header_nav_menu > h4 {
  font-size: 23px;
}

#header_nav_menu > i {
  font-size: 24px;
}


#header_nav_center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

#header_title {
  
  /* animation: moveInCenter 2s ease-out; */
}

/* @keyframes moveInCenter {
  0% {
    visibility: hidden;
    transform: translateX(-400%);
  }
  100% {
    visibility: visible;
    transform: translateX(0);
  }
} */

#header_contact {
  width: 25%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

#header_contact > h4 {
  font-size: 23px;
  margin: 0 20px;
}

#header_contact > i {
  font-size: 24px;
  margin: 0 20px 0 10px;
}

.uppercase-text {
  text-transform: uppercase;
}

/* SEGUNDA CAJA */
section {
  /* justify-content: space-between; */
  margin: 5px;
}


#padre2 {
  border: 1px solid black;
  margin: 0px;
  height: 7%;
}

.fa-chevron-circle-left {
  font-size: 24px;
  margin: 10px;
  align-self: center;
}

.fa-chevron-circle-right {
  font-size: 24px;
  margin: 10px 100px 10px 0px;
  align-self: center;
}

.izquierda {
  width: 25%;
  display: flex;
  justify-content: center;
}

.derecha{
  width: 25%;
  display: flex;
  justify-content: center;
}



.fa-ellipsis-h {
  font-size: 16px;
  flex-direction: column;
  margin: 0px;
  align-self: center;
}

.centro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  width: 50%;
}

#right_triangle {
  width: 20%;
  background-color: coral;
  clip-path: polygon(0 0, 100% 50%, 0 100%, 0 0);
  height: 20px;
  align-self: center;
  display: inline-block;
}

#left_triangle {
  width: 20%;
  background-color: coral;
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
  height: 20px;
  align-self: center;
  display: inline-block;
}


#promociones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;  
  height: 100%;
  width: 40%;
}


.frase-promociones {
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: bold;
  height: 60%;
  padding-top: 10px;
  align-items: center;
}

#puntos-suspensivos {
  font-size: 23px;
  letter-spacing: 7.5px;
  align-items: center;
  height: 40%;
  padding-bottom: 10px;
}

/* TERCER CAJA */
#padre3 {
  display: flex;
  border: 1px solid #000;
  margin: 0px;
  justify-content: space-around;
}



#caballeros {
  display: flex;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  align-items: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
}

.fa-male {
  margin: 15px;
  font-size: 80px;
}

#frase-caballeros {
  letter-spacing: 5px;
  font-size: 36px; 
}

#damas {
  display: flex;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  align-items: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
}

.fa-female {
  margin: 15px;
  font-size: 80px;
}

#frase-damas {
  letter-spacing: 5px;
  font-size: 36px; 
  text-align: center;
}

#ninos {
  display: flex;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
  width: 300px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
}

.fa-child {
  margin: 15px;
  font-size: 80px;
}

#frase-ninos {
  letter-spacing: 5px;
  font-size: 36px; 
  text-align: center;
}

/* CUARTA CAJA */
.suscribete {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #000;
}

.subtitulo-suscribete {
  /* border: 1px solid #000; */
  margin: 0px;
  display: inline-block;
  flex-direction: row;
  width: 100%;
}

.frase-suscribete {
  display: inline-block;
  margin: 10px 10px 10px 15px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
}

.fa-long-arrow-alt-down {
  display: inline-block;
  font-size: 25px;
  margin: 8px 10px 10px 20px;
}


.formulario {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.primer-parte-formulario {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 10px;
}

.segunda-parte-formulario {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 10px;
}

#input-nombre {
  margin: 5px 0 15px;
}

#input-direccion {
  margin: 5px 0px;
}

#input-correo {
  margin: 5px 0 15px;
}

#input-telefono {
  margin: 5px 0px;
}


.div-boton-crear {  /*BOTON*/
  display: flex;
  /* border: 1px solid #000; */
  justify-content: center;
  width: 100%;
}

.boton-1 { /*BOTON*/
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  width: 12%;
}

.boton-crear { /*BOTON*/
 padding: 10px;
 margin: 10px;
 font-weight: bolder;
 font-family: 'Lato', sans-serif;
 border: 2px solid #000;
 border-radius: 10%;
 background-color: #000000;
 color: white;
 text-align: center;
 width: 100%;
}

/* CAJA 4 */
.caja-buscador-zapatos {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  flex-wrap: wrap;
  margin: 10px 0px 0 0px;
}

.encabezado-caja-zapatos-general {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  width: 100%;
}

.caja-buscador {  
  display: flex; 
  flex-direction: row;
  /* border: 1px solid black; */
  margin: 10px;
  width: 50%;
}

.search {
  border: 5px solid black;
  border-radius: 10px;
  width: 90%;
  height: 25px;
  font-weight: bolder;
}

#search-2 {
  /* border: 1px solid black; */
  font-size: 30px;
  width: 10%;
  margin: 5px 0 10px 50px;
}


.caja-compras-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  /* border: 1px solid black; */
  margin: 10px;
}

.caja-general-shopping {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.frase-carrito {
  display: inline-block;
  /* border: 1px solid black; */
  margin: 5px;
  font-size: 25px;
  align-self: center;
}

.fa-shopping-cart {
  display: inline-block;
  /* border: 1px solid black; */
  font-size: 24px;
  margin: 0px;
  align-self: center;
}

.caja-general-home {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.frase-home {
  display: inline-block;
  /* border: 1px solid black; */
  margin: 5px;
  font-size: 25px;
  align-self: center;
}

.fa-home {
  display: inline-block;
  /* border: 1px solid black; */
  font-size: 24px;
  margin: 0px;
  align-self: center;
}

.caja-zapatos-stock {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
}

.zapato-muestra-1 {
  flex-direction: column;
  display: flex;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  align-items: center;
}

#imagen-air-jordan-1-high-og {
  display: inline-block;
  width: 30%;
  height: auto;
  align-self: center;
}

.nombre-modelo-1 {
  display: inline-block;
  letter-spacing: 1px;
  font-size: 15px; 
  align-self: center;
  width: 70%;
  line-height: 28px;
}

/* PAGINA CABALLEROS  */
#header-caballeros {
  display: flex;
  justify-content: center;
  margin: 10px;
  border: 3px solid #000;
  border-radius: 10px;
  flex-direction: row;
}

#frase-calzado-caballeros {
  margin: 10px;
  /* border: 1px solid #000; */
  font-weight: bolder;
  font-size: 20px;
}

.caja-zapatos-stock-caballeros {
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.imagen-zapato-muestra-uno {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  align-items: center;
}

.nombre-modelo-uno {
  letter-spacing: 1px;
  font-size: 15px; 
  align-self: center;
  width: 70%;
  line-height: 28px;
}

.imagen-zapato-muestra-tres {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  align-items: center;
}

.nombre-modelo-tres {
  letter-spacing: 1px;
  font-size: 15px; 
  align-self: center;
  width: 70%;
  line-height: 28px;
}

.imagenes {
 height: 60px;
 width: 60px;
 margin: 20px;
}

/* PAGINA DAMAS  */
#header-damas {
  display: flex;
  justify-content: center;
  margin: 10px;
  border: 3px solid #000;
  border-radius: 10px;
  flex-direction: row;
}

#frase-calzado-damas {
  margin: 10px;
  /* border: 1px solid #000; */
  font-weight: bolder;
  font-size: 20px;
}

.caja-zapatos-stock-damas {
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.imagen-zapato-muestra-one {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  align-items: center;
}

.nombre-modelo-one {
  letter-spacing: 1px;
  font-size: 15px; 
  align-self: center;
  width: 70%;
  line-height: 28px;
}

.imagen-zapato-muestra-two {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  align-items: center;
}

.nombre-modelo-two {
  letter-spacing: 1px;
  font-size: 15px; 
  align-self: center;
  width: 70%;
  line-height: 28px;
}

.imagen-zapato-muestra-three {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  align-items: center;
}

.nombre-modelo-three {
  letter-spacing: 1px;
  font-size: 15px; 
  align-self: center;
  width: 70%;
  line-height: 28px;
}

.imagenes2 {
  height: 60px;
  width: 60px;
  margin: 20px 20px 0 20px;
 }




/* PAGINA NINOS  */
#header-ninos {
  display: flex;
  justify-content: center;
  margin: 10px;
  border: 3px solid #000;
  border-radius: 10px;
  flex-direction: row;
}

#frase-calzado-ninos {
  margin: 10px;
  /* border: 1px solid #000; */
  font-weight: bolder;
  font-size: 20px;
}

.caja-zapatos-stock-ninos {
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.imagen-zapato-muestra1 {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  align-items: center;
}

.nombre-modelo1 {
  letter-spacing: 1px;
  font-size: 15px; 
  align-self: center;
  width: 70%;
  line-height: 28px;
}

a {
  color: #000;
  text-decoration: none;
}

.imagen-zapato-muestra2 {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  align-items: center;
}

.nombre-modelo2 {
  letter-spacing: 1px;
  font-size: 15px; 
  align-self: center;
  width: 70%;
  line-height: 28px;
}

.imagen-zapato-muestra3 {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  align-items: center;
}

.nombre-modelo3 {
  letter-spacing: 1px;
  font-size: 15px; 
  align-self: center;
  width: 70%;
  line-height: 28px;
}

.imagen-zapato-muestra-dos {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 10%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  width: 300px;
  height: 200px;
  align-items: center;
}

.nombre-modelo-dos {
  letter-spacing: 1px;
  font-size: 15px; 
  align-self: center;
  width: 70%;
  line-height: 28px;
}